<nav class="vz-nav vz-nav--home" x-data="vzNav()" @click.outside="open = false">
  <div class="vz-nav__inner">
    <span></span>

    <button class="vz-nav__toggle" @click="open = !open" :aria-expanded="open" aria-label="Toggle menu">
      <span></span><span></span><span></span>
    </button>

    <ul class="vz-nav__links vz-nav__links--pill" :class="{ 'is-open': open }">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL }}" {{ if eq $.RelPermalink .URL }}aria-current="page"{{ end }}>{{ .Name }}</a></li>
      {{ end }}
      {{ if gt (len $.Site.Data.press) 0 }}
      <li><a href="/press/" {{ if eq $.RelPermalink "/press/" }}aria-current="page"{{ end }}>Press</a></li>
      {{ end }}
    </ul>
  </div>
</nav>
