<nav class="vz-nav vz-nav--home" x-data="vzNav()">
  <div class="vz-nav__inner">
    <a href="/" class="vz-nav__logo">
      {{ if .Site.Params.logo_png }}
        <img src="{{ .Site.Params.logo_png }}" alt="{{ .Site.Title }}" class="vz-nav__logo-img" height="40">
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>

    <button class="vz-nav__toggle" @click="open = !open" :aria-expanded="open" aria-label="Toggle menu">
      <span></span><span></span><span></span>
    </button>

    <ul class="vz-nav__links" :class="{ 'is-open': open }">
      {{ range .Site.Menus.main }}
      {{ $isCurrent := or (eq $.RelPermalink .URL) (and (ne .URL "/") (hasPrefix $.RelPermalink .URL)) }}
      <li><a href="{{ .URL }}" {{ if $isCurrent }}aria-current="page"{{ end }}>{{ .Name }}</a></li>
      {{ end }}
      {{ if gt (len ($.Site.Data.press.items | default slice)) 0 }}
      <li><a href="/press/" {{ if eq $.RelPermalink "/press/" }}aria-current="page"{{ end }}>Press</a></li>
      {{ end }}
    </ul>
  </div>
</nav>
